
/*
Youssef Ibrahim, IT 202 BL, Project #2
This is a stylesheet connected to index.html and classes.html
This stylesheet will apply to body,header,nav,footer.
*/
body {
  background-color: #F3F3F3;
  color: #333;
  font-family: Arial, sans-serif;
  font-size: 1.2em;
  padding: 2em;
  line-height: 1.5;
}

header {
  background-color: #578c01;
  padding: 1.5em;
}

header h1 {
  color: #FFF;
  margin: 0;
  font-size: 2em;
  line-height: 200%;
  text-align: center;
}


nav {
  display: flex;
  justify-content: center;
  text-align: center;
  font-weight: bold;
  margin: 1.5em 0;
}

nav a {
  color: #333;
  text-decoration: none;
  margin: 1em 1em;
  margin-bottom: 0em;
  display: block;
  border-radius: 20px;
  padding: 10px 20px;
  background-color: #A5C07A;
}

nav ul {
  list-style-type: none;
}

footer {
  background-color: #578c01;
  color: #FFF;
  font-size: 0.6em;
  font-style: italic;
  text-align: center;
  padding: 1.5em;
}